body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    margin-top: 500px;
    margin: 2%;
    padding: 20px;  
}
.card{
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    box-sizing: border-box;
    box-shadow: hsl(0, 0%, 100%) 3px 3px 10px 2px;
    border-radius: 20px;
    flex-direction: column;
    justify-items: center;
    padding-top: 190px;
    align-items: center;
    width: 500px;
    height: 600px;
    margin-right: 190px;
    margin-top: -10px;
    color: #ff0000;
}
blockquote {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-top: 50px;
    color: #f30303;
    display: flex;
    justify-content: center;
    color: white;

}
p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 29px;
    font-weight: bold; 
    color: #f30303;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    display: flex;
    box-sizing: border-box;
    box-shadow: hsl(0, 0%, 100%) 3px 3px 10px 2px;
    flex-direction: column;
    border-radius: 20px;
    justify-items: center;
    padding: 5%;
    margin-top: -10px;
    align-items: center;
    width: 500px;
    height: 600px;

}

input[type="text"] {
    padding: 15px;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 16px;
    margin-top:30px;
    width: 200px;

}

input[type="password"] {
    padding: 15px;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 16px;
    margin-top: -10px;
    width: 200px;
}

button {
    font-weight: bold;
    font-size: 16px;
    background-color: #f0e2e2;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: -10px;
    width: 190px;

}

button:hover {
    background-color: #ff0000;
    color:rgb(255, 255, 255)
}